<%- include ./common/register.ejs  %>
<div class="container w">
            <div class="content">
            <div id="header">
                <span>欢迎注册</span>
                <div class="loginbutton">已有帐号？<a href="/login">登录</a></div>
            </div>
                <form id="myform" action="" method="post">
                    <div class="form-item" id="item">
                        <label>
                            用  户  名
                        </label>
                        <input class="myinput" id="username"  maxlength="20" minlength="4" name="username" tips="支持中文数字，字符为4-20个" type="text">
                        </input>
                    </div>
                    <div class="input-tip" id="usernametip">
                    </div>
         
                    <div class="form-item">
                        <label>
                            设置密码
                        </label>
                        <input class="myinput" id="password" minlength ="10" maxlength="20" minlength="10" name="password" tips="建议至少使用两种字符组合，6-20个字符" type="password">
                        </input>
                    </div>
                    <div class="input-tip" id="passwordtip">
                    </div>
                    <div class="form-item">
                        <label>
                            确认密码
                        </label>
                        <input class="myinput" id="confirmpwd" maxlength="20" minlength="10" name="password2" tips="请再次输入密码" type="password">
                        </input>
                    </div>
                    <div class="input-tip" id="confirmpwdtip">
                    </div>
                    <div class="form-item">
                        <label>
                            身份证
                        </label>
                        <input class="myinput" id="confirmpwd" maxlength="20" minlength="18" name="identity" tips="请再次输入密码" type="text">
                        </input>
                    </div>
                    <div class="input-tip" id="confirmpwdtip">
                    </div>
                    <button type="submit" class="btn-register">提交</button>
                </form>
            </div>
        </div>
        <%- include ./common/register_f.ejs  %>